html, body {
    margin: 0;
    padding: 0;
  }
  canvas {
    display: block;
    background-color: rgb(95, 158, 160);
  }

a {
  display: inline-block;
  position: absolute;
  top: 700px;
  left: 800px;
  font-size: 30pt;
  color: white;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  cursor: pointer;
}

p {
  display: inline-block;
  position: absolute;
  top: 30px;
  left: 50px;
  width: 300px;
  font-size: 14pt;
  color: rgb(255, 255, 255);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
  